
body {
  font-family: Arial, sans-serif;
  background-image: url("./pictures/To-do-list-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(140, 213, 231);
}

#taskList li.completed span {
  text-decoration: line-through;
  color: gray;
}
